<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Olvidé mi contraseña</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="https://genfavicon.com/tmp/icon_d1490e0ca97a4e19828ac691e5ef8be0.ico">
        <link rel="stylesheet" href="/css/styleForgot.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Olvidé mi contraseña</title>
    </head>
    <body>
        
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Olvidé mi contraseña</h5>
                  <hr class="my-4">
                    <div class="text-center">
                        <% if(typeof msg !== 'undefined') {%>
                            <h5> <%- msg.msg %>
                        <%}%>
                    </div>
                    <a href="/login">
                      <input class="btn btn-lg btn-primary btn-block" type="button" value="Regresar al login" />
                   </a>
                    <!-- <button action="/login"  type="button">Regresar al login</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>      
</html>