<!DOCTYPE html>
<html>
<head>
  <title>Pagina de login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="https://genfavicon.com/tmp/icon_d1490e0ca97a4e19828ac691e5ef8be0.ico">
  <link rel="stylesheet" type="text/css" href="/css/stylelogin.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row px-3">
      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class=" d-none d-md-flex">
          <img src="/images/login.jpg" alt="">
        </div>
        <div class="card-body">
          <h4 class="title text-center mt-4">
            Iniciar sesión
          </h4>
          <div>
            <% if(typeof errors !== 'undefined') {%>
                    <div class="alert alert-danger">
                        <%- errors.errors %>
                    </div>
            <% } %>
          </div>
          <form class="form-box px-3" method="POST" action="/login">
            <div class="form-input">
              <span><i class="fa fa-envelope-o"></i></span>
              <input type="email" class="form-control" id="email"
               placeholder="Ingresa tu correo electrónico" name="email" tabindex="10">
            </div>
            <div class="form-input">
              <span><i class="fa fa-key"></i></span>
              <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña"
              name="password">
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-block text-uppercase">
                Iniciar sesión
              </button>
            </div>
          </form>
          <div class="text-center">
            <a href="/forgot-password" class="forget-link">
              ¿Olvidaste tu contraseña?
            </a>
          </div>
          <hr class="my-4">
          <div class="text-center mb-2">
            ¿No te has registrado?
            <a href="/register" class="register-link">
              Regístrate aquí.
            </a>
          </div>  
        </div>
      </div>
    </div>
  </div>
</body>
</html>