<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="row mt-5">
                <div class="col-7 image-left">
                </div>
                <div class="col-5">
                    <div>
                        <% if(errors != "") { %>
                            <% errors.forEach((item) => { %>
                                <div class="alert alert-danger">
                                    <%- item %>
                                </div>
                            <% }); %>
                        <% } %>
                    </div>
                    <form method="POST" action="/login">
                        <div class="form-group">
                          <label for="email">Correo electronico</label>
                          <input type="email" class="form-control" id="email"
                          placeholder="Ingrese su correo electronico" name="email">
                        </div>
                        <div class="form-group">
                          <label for="password">Contraseña</label>
                          <input type="password" class="form-control" id="password" placeholder="Ingrese su Contraseña"
                          name="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                      </form>
                      <hr>
                      <div>
                          Si todavia no tienes una uenta. ¡Registrate!
                      </div>
                      <a href="/register">
                        <button type="button" class="btn btn-primary">Crear una cuenta.</button>
                      </a>
                      <div>
                          Regresar a la <a href="/">pagina principal</a>.
                      </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
