<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/users.css">
  <link rel="stylesheet" href="/lib/jquery/jquery.datetimepicker.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 my-4">
        <div class="card rounded-0">
          <div class="card-header bg-light">
            <h5 class="d-inline-block font-weight-bold mb-0">Bienvenido a la página de registro</h5>
          </div>
          <div class="card-body">
            <div class="container">
              <div>
                <% if(errors !==" " ) {%>
                <% errors.forEach(function(item) { %>
                <div class="alert alert-danger">
                  <%- item %>
                </div>
                <%})%>
                <%}%>
              </div>
              <form method="POST" action="/register">
                <div class="row">
                  <div class="col-lg-6 my-4">
                    <div class="form-group mb-4">
                      <label for="nombre" class="font-weight-bold">Nombres</label>
                      <input type="text" class="form-control" id="name" name="name"
                        placeholder="Ingrese sus nombres" required>
                    </div>
                    <div class="form-group mb-4">
                      <label for="email" class="font-weight-bold">Apellidos</label>
                      <input type="text" class="form-control" id="last_name " name="last_name"
                        placeholder="Ingrese sus apellidos" required>
                    </div>
                    <div class="form-group mb-4">
                      <label for="cedula" class="font-weight-bold">Número de identificación</label>
                      <input type="tel" class="form-control" id="cedula" name="cedula" pattern="[0-9]{10}"
                        placeholder="Ingrese su cedula" autocomplete="off" required>
                    </div>
                    <div class="form-group mb-0">
                      <label for="sexo" class="font-weight-bold">Sexo</label>
                    </div>
                    <div class="form-group mb-4">
                      <div class="btn-group btn-group-toggle toggle" data-toggle="buttons">
                        <label class="btn active">
                          <input type="radio" name="sexo" id="masculino" value="masculino" checked> Masculino
                        </label>
                        <label class="btn open-btn">
                          <input type="radio" name="sexo" id="femenino" value="femenino"> Femenino
                        </label>
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label for="fecha_nac" class="font-weight-bold">Fecha de nacimiento</label>
                      <input class="form-control" id="fecha_nac" name="fecha_nac" type="date" min='1900-01-01'
                        placeholder="Ingrese su fecha de nacimiento" autocomplete="off">
                      <span class="validity"></span>
                    </div>
                    <div class="form-group mb-4">
                      <label for="cedula" class="font-weight-bold">Número de celular</label>
                      <input type="tel" class="form-control" id="cellphone" name="cellphone"
                        placeholder="Ingrese su celular" autocomplete="off" pattern="[0-9]{10}">
                    </div>
                  </div>
                  <div class="col-lg-6 my-4">
                    <div class="form-group mb-4">
                      <label for="email" class="font-weight-bold">Correo electrónico</label>
                      <input type="email" class="form-control" id="email" name="email"
                        placeholder="Ingrese su correo electrónico">
                    </div>
                    <div class="form-group mb-4">
                      <label for="city" class="font-weight-bold">Ciudad de residencia</label>
                      <input class="form-control" id="city" name="city" placeholder="Ingrese su ciudad de residencia"
                        autocomplete="off" required>
                    </div>
                    <div class="form-group mb-4">
                      <label for="eps" class="font-weight-bold">EPS</label>
                      <input class="form-control" id="eps" name="eps" placeholder="Ingrese su EPS, si tiene" autocomplete="off">
                    </div>
                    <div class="form-group mb-4">
                      <label for="password" class="font-weight-bold">Contraseña</label>
                      <input type="password" class="form-control" id="password" name="password"
                        placeholder="Ingrese su Contraseña">
                      <small class="form-text text-muted">La contraseña debe tener almenos 8 caracteres.</small>
                    </div>
                    <div class="form-group mb-4">
                      <label for="password" class="font-weight-bold">Confirmar contraseña</label>
                      <input type="password" class="form-control" id="confirmationPassword" name="confirmationPassword"
                        placeholder="Confirme su contraseña">
                    </div>
                  </div>
                </div>
                <button type="submit" id="btn" class="btn btn-block">REGISTRARSE</button>
              </form>
              <hr class="my-4">
              <div class="text-center mb-2">
                ¿Ya tienes una cuenta?
                <a href="/login" class="register-link">
                  Inicia sesión aquí.
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- Toggle button -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  <script src="/lib/jquery/jquery.js"></script>
  <script src="/lib/jquery/jquery.datetimepicker.full.js"></script>
  <script>

    document.getElementById('fecha_nac').max = new Date(new Date().getTime() - 
      new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];

      var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirmationPassword");

    function validatePassword(){
      if(password.value != confirmationPassword.value) {
        confirmationPassword.setCustomValidity("Las contraseñas no coinciden.");
      } else {
        confirmationPassword.setCustomValidity('');
      }
    }
    password.onchange = validatePassword;
    confirmationPassword.onkeyup = validatePassword;
  </script>
</body>

</html>