<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/users.css">
  <link rel="stylesheet" href="/lib/jquery/jquery.datetimepicker.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 my-4">
        <div class="card rounded-0">
          <div class="card-header bg-light">
            <h5 class="d-inline-block font-weight-bold mb-0">Bienvenido a la página de registro</h5>
          </div>
          <div class="card-body">
            <div class="container">
              <div>
                <% if(errors !==" " ) {%>
                  <% errors.forEach(function(item) { %>
                    <div class="alert alert-danger">
                      <%- item %>
                    </div>
                    <%})%>
                      <%}%>
              </div>
              <div class="text-center mb-2">
                A continuación podrás completar toda la información tu registro.
              </div>
              <hr class="my-4">
              <form method="POST" action="/register">
                <div class="row">
                  <div class="col-lg-6 my-4">
                    <div class="form-group mb-4">
                      <label for="nombre" class="font-weight-bold">Nombres</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Ingresa tus nombres"
                        required>
                    </div>
                    <div class="form-group mb-4">
                      <label for="email" class="font-weight-bold">Apellidos</label>
                      <input type="text" class="form-control" id="last_name " name="last_name"
                        placeholder="Ingresa tus apellidos" required>
                    </div>
                    <div class="form-group mb-4">
                      <label for="Tipo" class="form-label">Tipo de documento<label class="redText">*</label></label>
                      <select class="custom-select" style="margin-right: 20px;" id="Tipo" name="Tipo" required>
                        <option value="0">Seleccionar tipo de documento</option>
                        <option value="Cédula de ciudadanía">Cédula de ciudadanía
                        </option>
                        <option value="Cédula de extranjería">Cédula de extranjería
                        </option>
                        <option value="NIT">NIT</option>
                        <option value="Tarjeta de identitidad">Tarjeta de
                          identitidad</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Registro civil">Registro civil</option>
                      </select>
                    </div>
                    <div class="form-group mb-4">
                      <label for="fecha_exp" class="font-weight-bold">Fecha de expedición</label>
                      <input class="form-control" id="fecha_exp" name="fecha_exp" type="date" min='1900-01-01'
                        placeholder="Ingresa tu fecha de expedición" autocomplete="off">
                      <span class="validity"></span>
                    </div>
                    <div class="form-group mb-4">
                      <label for="direccion" class="font-weight-bold">Dirección de residencia</label>
                      <input type="text" class="form-control" id="direccion" name="direccion"
                        placeholder="Ej: Cra. 27 #59-42, Barranquilla, Atlántico" autocomplete="off" required>
                    </div>
                    <div class="form-group mb-4">
                      <label for="barrio" class="font-weight-bold">Barrio de residencia</label>
                      <input type="text" class="form-control" id="barrio" name="barrio" placeholder="Ej: Los Andes"
                        autocomplete="off" required>
                    </div>
                    <div class="form-group mb-4">
                      <label for="cedula" class="font-weight-bold">Número de identificación</label>
                      <input type="tel" class="form-control" id="cedula" name="cedula" pattern="[0-9]{10}"
                        placeholder="Sin puntos ni comas ni guiones" autocomplete="off" required>
                    </div>
                    <div class="form-group mb-0">
                      <label for="sexo" class="font-weight-bold">Género</label>
                    </div>
                    <div class="form-group mb-4">
                      <div class="btn-group btn-group-toggle toggle" data-toggle="buttons">
                        <label class="btn active">
                          <input type="radio" name="sexo" id="masculino" value="masculino" checked> Masculino
                        </label>
                        <label class="btn open-btn">
                          <input type="radio" name="sexo" id="femenino" value="femenino"> Femenino
                        </label>
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label for="fecha_nac" class="font-weight-bold">Fecha de nacimiento</label>
                      <input class="form-control" id="fecha_nac" name="fecha_nac" type="date" min='1900-01-01'
                        placeholder="Ingresa tu fecha de nacimiento" autocomplete="off">
                      <span class="validity"></span>
                    </div>
                    <div class="form-group mb-4">
                      <label for="cellphone" class="font-weight-bold">Número de celular</label>
                      <input type="tel" class="form-control" id="cellphone" name="cellphone"
                        placeholder="Ingresa tu celular" autocomplete="off" pattern="[0-9]{10}">
                    </div>
                  </div>
                  <div class="col-lg-6 my-4">
                    <div class="form-group mb-4">
                      <label for="cellphone1" class="font-weight-bold">Otro número de celular (opcional)</label>
                      <input type="tel" class="form-control" id="cellphone1" name="cellphone1"
                        placeholder="Ingresa tu celular" autocomplete="off" pattern="[0-9]{10}">
                    </div>
                    <div class="form-group mb-4">
                      <label for="tele" class="font-weight-bold">Teléfono (opcional)</label>
                      <input type="tel" class="form-control" id="tele" name="tele" placeholder="Ingresa tu teléfono"
                        autocomplete="off" pattern="[0-9]{10}">
                    </div>
                    <div class="form-group mb-4">
                      <label for="email" class="font-weight-bold">Correo electrónico</label>
                      <input type="email" class="form-control" id="email" name="email"
                        placeholder="Ingresa tu correo electrónico">
                    </div>
                    <div class="form-group mb-4">
                      <label for="Option" style="margin-top: 0px;" class="form-label">¿Eres extranjero?<label
                          class="redText">*</label></label>
                      <select class="custom-select" style="margin-right: 10px; margin-top: -10px;" id="Option"
                        name="Option" required="true">
                        <option value="0">Seleccionar una opción</option>
                        <option value="1">Sí</option>
                        <option value="2">No</option>
                      </select>
                    </div>
                    <div class="form-group mb-4" style="display: none;" id="depa">
                      <label for="Departamento" style="margin-top: 0px;" class="form-label">Departamento de
                        residencia<label class="redText">*</label></label>
                      <select class="custom-select" style="margin-right: 10px; margin-top: -10px;" id="Departamento"
                        name="Departamento" onchange="departamento('Departamento','city')">
                        <option value="0">Seleccionar departamento de residencia</option>
                      </select>
                    </div>
                    <div class="form-group mb-4" style="display: none;" id="muni">
                      <label for="city" style="margin-top: 0px;" class="form-label">Municipio de residencia<label
                          class="redText">*</label></label>
                      <select class="custom-select" style="margin-right: 10px; margin-top: -10px;" id="city"
                        name="city">
                        <option value="0">Seleccionar municipio de residencia</option>
                      </select>
                    </div>
                    <div class="form-group mb-4">
                      <label for="Optioneps" style="margin-top: 0px;" class="form-label">¿Tienes EPS?<label
                          class="redText">*</label></label>
                      <select class="custom-select" style="margin-right: 10px; margin-top: -10px;" id="Optioneps"
                        name="Optioneps" required="true">
                        <option value="0">Seleccionar una opción</option>
                        <option value="1">Sí</option>
                        <option value="2">No</option>
                      </select>
                    </div>
                    <div class="form-group mb-4" style="display: none;" id="entidad">
                      <label for="eps" style="margin-top: 0px;" class="form-label">EPS<label
                          class="redText">*</label></label>
                      <select class="custom-select" style="margin-right: 10px; margin-top: -10px;" id="eps" name="eps">
                        <option value="0">Seleccionar EPS</option>
                      </select>
                    </div>
                    <div class="form-group mb-4">
                      <label for="password" class="font-weight-bold">Contraseña</label>
                      <input type="password" class="form-control" id="password" name="password"
                        placeholder="Ingresa tu Contraseña">
                      <small class="form-text text-muted">La contraseña debe tener al menos 8 caracteres.</small>
                    </div>
                    <div class="form-group mb-4" style="margin-top: -20px;">
                      <label for="password" class="font-weight-bold">Confirmar contraseña</label>
                      <input type="password" class="form-control" id="confirmationPassword" name="confirmationPassword"
                        placeholder="Confirma tu contraseña">
                    </div>
                  </div>
                </div>
                <button type="submit" id="btn" class="btn btn-block">REGISTRARTE</button>
              </form>
              <hr class="my-4">
              <div class="text-center mb-2">
                ¿Ya tienes una cuenta?
                <a href="/login" class="register-link">
                  Inicia sesión aquí.
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- Toggle button -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  <script src="/lib/jquery/jquery.js"></script>
  <script src="/lib/jquery/jquery.datetimepicker.full.js"></script>
  <script>
    document.onload = loadFunctions();
    function loadFunctions() {
      consulta();
      eps();
    }

    document.getElementById('fecha_nac').max = new Date(new Date().getTime() -
      new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];

    document.getElementById('fecha_exp').max = new Date(new Date().getTime() -
      new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];

    var password = document.getElementById("password")
      , confirm_password = document.getElementById("confirmationPassword");
    function validatePassword() {
      if (password.value != confirmationPassword.value) {
        confirmationPassword.setCustomValidity("Las contraseñas no coinciden.");
      } else {
        confirmationPassword.setCustomValidity('');
      }
    }
    password.onchange = validatePassword;
    confirmationPassword.onkeyup = validatePassword;

    $(document).ready(function () {
      $('#Option').on('change', function () {
        if (this.value == '2') {
          $("#depa").show();
          $("#muni").show();
        } else {
          $("#depa").hide();
          $("#muni").hide()
        }
      });
    });

    $(document).ready(function () {
      $('#Optioneps').on('change', function () {
        if (this.value == '1') {
          $("#entidad").show();
        } else {
          $("#entidad").hide();
        }
      });
    });

    async function departamento(s1, s2) {
      var con1 = document.getElementById('Departamento').value;
      const consulta2 = {
        con: con1
      };
      const options2 = {
        method: "POST",
        body: JSON.stringify(consulta2),
        headers: {
          "Content-Type": "application/json"
        }
      };
      const response2 = await fetch('/municipio', options2);
      result5 = await response2.json();
      var s1 = document.getElementById(s1);
      var s2 = document.getElementById(s2);
      s2.innerHTML = "";
      select = document.getElementById('city');
      for (var i = 0; i < result5.length; i++) {
        if (s1.value == result5[i].Departamento) {
          var opt = document.createElement('option');
          opt.value = result5[i].Municipio;
          opt.innerHTML = result5[i].Municipio;
          select.add(opt);
        }
      }
      $("#city").prepend('<option selected="true" value="0">Seleccionar municipio de residencia</option>');
    }
    var result4 = [];
    async function consulta() {
      var con1 = document.getElementById('Departamento').value;
      const consulta2 = {
        con: con1
      };
      const options2 = {
        method: "POST",
        body: JSON.stringify(consulta2),
        headers: {
          "Content-Type": "application/json"
        }
      };
      const response2 = await fetch('/departamentos', options2);
      result4 = await response2.json();
      select = document.getElementById('Departamento');
      for (var i = 0; i < result4.length; i++) {
        var opt = document.createElement('option');
        opt.value = result4[i].Departamento;
        opt.innerHTML = result4[i].Departamento;
        select.add(opt);
      }
    }

    var result4 = [];
    async function eps() {
      var con1 = document.getElementById('eps').value;
      const consulta2 = {
        con: con1
      };
      const options2 = {
        method: "POST",
        body: JSON.stringify(consulta2),
        headers: {
          "Content-Type": "application/json"
        }
      };
      const response2 = await fetch('/listaEPS', options2);
      result4 = await response2.json();
      select = document.getElementById('eps');
      for (var i = 0; i < result4.length; i++) {
        var opt = document.createElement('option');
        opt.value = result4[i].eps;
        opt.innerHTML = result4[i].eps;
        select.add(opt);
      }
    }
  </script>
</body>

</html>