<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/stylelogin.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <title>Document</title>
    </head>
    <body style="margin-left: 100px;">
        <div class="container-flex">
            <div class="row px-3" style="display: block; min-width: fit-content;"> 
              <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
                <div class=" d-none d-md-flex">
                  <img src="/images/forgot.png" alt="">
                </div>
                <div class="card-body" style="display: block;">
                  <h4 class="title text-center mt-4">
                    Cambiando la contraseña para <%= email %>
                  </h4>
                  <hr class="my-4">
                  <div>
                    <% if(typeof errors !== 'undefined') {%>
                        <% errors.forEach(function(item) { %>
                            <div class="alert alert-danger">
                                <%- item %>
                            </div>
                        <%})%>
                    <%}%>
                  </div>
                  <form class="form-box px-3" method="POST" action="">
                    <label for="password">Contraseña</label>
                    <div class="form-input">                        
                      <span><i class="fa fa-key"></i></span>
                      <input type="password" class="form-control" id="password" placeholder="Ingresa tu nueva contraseña"
                        name="password" tabindex="10">                      
                    </div>
                    <label for="password2">Confirmar contraseña</label>
                    <div class="form-input">                        
                      <span><i class="fa fa-key"></i></span>
                      <input type="password" class="form-control" id="password2" placeholder="Confirmar contraseña"
                        name="password2">                      
                    </div>
        
                    <div class="mb-3">
                        <br>
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </div>
                  </form>                   
                </div>
              </div>
            </div>
          </div>
      
    </body>
</html>