<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Document</title>
    </head>
    <body>
        <h1>Reset password for <%= email %> </h1>
        <div>
            <% if(typeof errors !== 'undefined') {%>
                <% errors.forEach(function(item) { %>
                    <div class="alert alert-danger">
                        <%- item %>
                    </div>
                <%})%>
            <%}%>
        </div>
        
        <form action="" method="POST">
            <div class="form-group">
                <label for="password">Contrase単a</label>
                <input type="password" class="form-control" id="password" placeholder="Ingrese su nueva contrase単a"
                name="password">
            </div>
            <div class="form-group">
                <label for="password2">Cofirmar contrase単a</label>
                <input type="password" class="form-control" id="password2" placeholder="Confirmar contrase単a"
                name="password2">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </body>
</html>