/* REGISTRO*/
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #008DCA;
  --first-color-light: #99d1e9;
  --white-color: #F7F6FB;
  
  /*===== Font and typography =====*/
  --body-font: 'Aleo';
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;  
  background: url(../images/regis.png);
  background-repeat: no-repeat;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size);
  transition: .5s;
}

#card{
  border-radius: 20px !important;
}

input{
  /* border: none !important;   */
  border-color: #008DCA !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#btn{
    background-color: #008DCA !important;
    color: white;    
    margin-top: 20px !important;
}

.toggle .btn {
  cursor: pointer;
  background: #ffffff;
  transition: background 0.2s, color 0.2s;
  border: 2px solid #008DCA;
  user-select: none;
  color: black;
}

.toggle .active {
  border: 2px solid #008DCA;
  background: #008DCA;
  color: white;
}

select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

select{
    width: 100%;    
	  display: inline-block;	
	  cursor: pointer;  	
  	outline: 0; 
  	border: 0;	
    color: #4646cc;    
	  font-size: 16px;	
	  border:2px solid#008DCA !important; 
    border-radius: 20px !important;   
    position: relative;    
}

label{
  margin-top: 20px !important;
}

input{
  border:2px solid#008DCA !important; 
  border-radius: 20px !important;
  padding-left: 20px !important;
}

/* RUTAS */