<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ===== BOX ICONS ===== -->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

  <!-- ===== TIMEPICKER ===== -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">">

  <!-- ===== DATATABLES ===== -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css">

  <!-- ===== DATEPICKER ===== -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
    integrity="sha512-f0tzWhCwVFS3WeYaofoLWkTP62ObhewQ1EZn65oSYDZUg1+CyywGKkWzm8BxaJj5HGKI72PnMH9jYyIFz+GH7g=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- ===== SWEETALERT2 ===== -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
  <title>Excepciones</title>
</head>

<body id="body-pd">

  <header class="header" id="header">
    <div class="header__toggle">
      <i class='bx bx-menu' id="header-toggle"></i>
    </div>

    <div class="header__img">
      <img src="/images/HUN.jpg" alt="">
    </div>
  </header>

  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="https://www.uninorte.edu.co/web/hospital" class="nav__logo">
          <i class='bx bx-layer nav__logo-icon'></i>
          <span class="nav__logo-name">
            Hospital<br>
            Universidad del<br>
            Norte
          </span>
        </a>
        <div class="nav__list">
          <a href="/admin/adminmain" class="nav__link">
            <i class='bx bx-bar-chart-alt-2 nav__icon'></i>
            <span class="nav__name">Crear horarios</span>
          </a>
        </div>
        <div class="nav__list">
          <a href="/consultarCitasAdmin" class="nav__link">
            <i class='bx bx-bar-chart-alt-2 nav__icon'></i>
            <span class="nav__name">Citas Aceptadas</span>
          </a>
        </div>
      </div>
      <div class="nav__list">
        <a href="/consultarHorariosAdmin" class="nav__link">
          <i class='bx bx-bar-chart-alt-2 nav__icon'></i>
          <span class="nav__name">Horarios de los profesionales</span>
        </a>
      </div>
    </div>
      <a href="#" onclick="logOut()" class="nav__link">
        <i class='bx bx-log-out nav__icon'></i>
        <span class="nav__name">Cerrar sesión</span>
      </a>
    </nav>
  </div>
  <div class="container" style="margin-top: 50px;">
    <div class="row px-3">
      <div class="card flex-row mx-auto px-0">
        <div class=" d-none d-md-flex">
        </div>
        <div class="card-body">
          <h4 class="title text-center mt-4">
            Hola <%=user.name%>
          </h4>
          <hr class="my-4">
          <div class="text-center mb-2">
            A continuación podrás realizar el proceso de adiciones o excepciones de los profesionales de la salud del HUN
          </div>
          <form class="form-box px-3">
            <div class="row">
              <div class="col">
                <div class="col-12 col-sm-12" style="margin-top: 20px;">
                  <select class="custom-select mt-2" style="margin-right: 35px;" id="Cita" name="Cita" onchange="limpiar()" required>
                    <option value="0">Seleccionar tipo de cita médica
                    </option>
                    <option value="Ayudas diagnósticas">Ayudas diagnósticas
                    </option>
                    <option value="Procedimiento ambulatorio">Procedimiento
                      ambulatorio
                    </option>
                    <option value="Consulta medicina general">
                      Consulta medicina general</option>
                    <option value="Consulta especializada">Consulta
                      especializada
                    </option>
                    <option value="Consulta odontología general">Consulta
                      odontología general
                    </option>
                    <option value="Consulta odontología especializada">
                      Consulta odontología especializada
                    </option>
                  </select>
                </div>
                <div class="w-100 d-none d-md-block"></div>
              <div class="col-12 col-sm-12" style="margin-top: 20px; display: none;" id="procedimiento">
                <select class="custom-select mt-2" style="margin-top: 20px;" id="Procedimientos" name="Procedimientos"
                  onchange="especialidad2('Procedimientos','opciones2')">
                  <option value="0">Seleccionar procedimiento ambulatorio
                  </option>
                </select>
              </div>
              <div class="w-100 d-none d-md-block"></div>
              <div class="col-12 col-sm-12" style="margin-top: 20px; display: none;" id="ayudas">
                <select class="custom-select mt-2" style="margin-top: 20px;" id="Ayudas" name="Ayudas">
                  <option value="0">Seleccionar ayuda diagnóstica</option>
                </select>
              </div>
              <div class="w-100 d-none d-md-block"></div>
              <div class="col-12 col-sm-12" style="margin-top: 20px; display: none;" id="especialidad">
                <select class="custom-select mt-2" style="margin-right: 35px;" id="opciones" name="opciones"
                  onchange="doctors('opciones','Doctores')" required>
                  <option value="0">
                    Seleccionar Especialidad
                  </option>
                </select>
              </div>
              <div class="w-100 d-none d-md-block"></div>
              <div class="col-12 col-sm-12" style="margin-top: 20px; display: none;" id="doctor">
                <select class="custom-select mt-2" style="margin-right: 35px;" id="Doctores" name="Doctores">
                  <option value="0">
                    Seleccionar profesional de la salud
                  </option>
                </select>
              </div>
              <div class="w-100 d-none d-md-block"></div>
              <div class="col-12 col-sm-12" style="margin-top: 20px; display: none;" id="especialidad2">
                <select class="custom-select mt-2" style="margin-top: 20px;" id="opciones2" name="opciones2"
                  onchange="doctors2('opciones2','Doctores2')">
                  <option value="0">Seleccionar especialidad</option>
                </select>
              </div>
              <div class="w-100 d-none d-md-block"></div>
              <div class="col-12 col-sm-12" style="margin-top: 20px; display: none;" id="doctor2">
                <select class="custom-select mt-2" style="margin-top: 20px;" id="Doctores2" name="Doctores2">
                  <option value="0">Seleccionar profesional de la salud
                  </option>
                </select>
              </div>
              <div class="w-100 d-none d-md-block"></div>
              <div class="col-12 col-sm-12" style="margin-top: 20px; display: none;" id="especialidad3">
                <select class="custom-select mt-2" style="margin-top: 20px;" id="opciones3" name="opciones3"
                  onchange="doctors3('opciones3','Doctores3')">
                  <option value="0">Seleccionar especialidad</option>
                </select>
              </div>
              <div class="w-100 d-none d-md-block"></div>
              <div class="col-12 col-sm-12" style="margin-top: 20px; display: none;" id="doctor3">
                <select class="custom-select mt-2" style="margin-top: 20px;" id="Doctores3" name="Doctores3">
                  <option value="0">Seleccionar profesional de la salud
                  </option>
                </select>
              </div>
              <div class="w-100 d-none d-md-block"></div>
              <div class="col-12 col-sm-12" style="margin-top: 20px; display: none;" id="doctor4">
                <select class="custom-select mt-2" style="margin-top: 20px;" id="Doctores4" name="Doctores4">
                  <option value="0">Seleccionar profesional de la salud
                  </option>
                </select>
              </div>
              <div class="w-100 d-none d-md-block"></div>
              <div class="col-12 col-sm-12" style="margin-top: 20px; display: none;" id="doctor5">
                <select class="custom-select mt-2" style="margin-top: 20px;" id="Doctores5" name="Doctores5">
                  <option value="0">Seleccionar profesional de la salud
                  </option>
                </select>
              </div>
                <div class="w-100 d-none d-md-block"></div>
                <div class="col-12 col-sm-12" style="margin-top: 20px;">
                  <select class="custom-select mt-2" style="margin-right: 35px;" id="type" name="type">
                    <option value="0">
                      Seleccionar tipo
                    </option>
                    <option value="Adición">Adición</option>
                    <option value="Excepción">Excepción</option>
                  </select>
                </div>
                <div class="w-100 d-none d-md-block"></div>
                <div class="col-12 col-sm-12">
                  <label for="fecha" class="form-label" style="margin-top: 20px;">Fecha</label>
                  <input class="form-control" id="fecha" name="fecha" autocomplete="off" onkeypress="return false">
                </div>
              </div>
              <div class="col-12 col-sm-6" style="height:300px; overflow-y: scroll;">
                <table class="table table-hover" id="tabla" style="height: 20px;">
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>Tipo</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                  </tbody>
                </table>
              </div>
            </div>
          </form>
          <table class="table table-bordered table-hover table-responsive" id="Table">
            <thead style="justify-content: center;">
              <tr>
                <th>Rango de horas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="row">
                    <div class="col">
                      <label for="H1" class="form-label">Hora de inicio</label>
                      <input type="text" class="form-control" id="H1" name="H1" placeholder="Hora de Inicio"
                        autocomplete="off" onkeydown="return false">
                    </div>
                    <div class="col">
                      <label for="H2" class="form-label">Hora de fin</label>
                      <input type="text" class="form-control" id="H2" name="H2" placeholder="Hora de Fin"
                        autocomplete="off" onkeydown="return false">
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                      <input type="text" class="form-control" id="H3" name="H3" placeholder="Hora de Inicio"
                        autocomplete="off" onkeydown="return false">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" id="H4" name="H4" placeholder="Hora de Fin"
                        autocomplete="off" onkeydown="return false">
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                      <input type="text" class="form-control" id="H5" name="H5" placeholder="Hora de Inicio"
                        autocomplete="off" onkeydown="return false">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" id="H6" name="H6" placeholder="Hora de Fin"
                        autocomplete="off" onkeydown="return false">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="w-100 d-none d-md-block"></div>
          <div class="col-12 col-sm-12">
            <button type="submit" class="btn btn-outline-primary btn-block" id="btnAgregar"
              style="margin-top: 50px; margin-bottom: 20px;" onclick="buildTable()">Añadir excepciones</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"
    integrity="sha512-g2PN+aYR0KupTVwea5Ppqw4bxWLLypWdd+h7E0ydT8zF+/Y2Qpk8Y1SnzVw6ZCVJPrgB/91s3VfhVhP7Y4+ucw=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>

  <script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>


  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>
  <script>
    document.onload = loadFunctions();
    function loadFunctions() {
      consult();      
      // $('.fc-toolbar.fc-header-toolbar').addClass('row col-lg-12');
    }

    var date = new Date();
    var year = date.getFullYear();
    console.log(year)
    if (year == '2021') {
      natDays = [
        [1, 1, 2021],
        [1, 11, 2021],
        [3, 22, 2021],
        [4, 1, 2021],
        [4, 2, 2021],
        [5, 1, 2021],
        [5, 17, 2021],
        [6, 7, 2021],
        [6, 14, 2021],
        [7, 5, 2021],
        [7, 20, 2021],
        [8, 7, 2021],
        [8, 16, 2021],
        [10, 18, 2021],
        [11, 1, 2021],
        [11, 15, 2021],
        [12, 8, 2021],
        [12, 25, 2021]
      ];
    }
    if (year == '2022') {
      natDays = [
        [1, 1, 2022],
        [1, 10, 2022],
        [3, 21, 2022],
        [4, 14, 2022],
        [4, 15, 2022],
        [5, 1, 2022],
        [5, 30, 2022],
        [6, 20, 2022],
        [6, 27, 2022],
        [7, 4, 2022],
        [7, 20, 2022],
        [8, 7, 2022],
        [8, 15, 2022],
        [10, 17, 2022],
        [11, 7, 2022],
        [11, 14, 2022],
        [12, 8, 2022],
        [12, 25, 2022]
      ];
    }
    function nationalDays(date) {
      for (i = 0; i < natDays.length; i++) {
        if (date.getMonth() == natDays[i][0] - 1 &&
          date.getDate() == natDays[i][1]) {
          return [false, natDays[i][2] + '_day'];
        }
      }
      var day = date.getDay();
      return [(day != 0)];
    }
    $(function () {
      $("#fecha").datepicker({
        dateFormat: 'mm-dd-yy',
        minDate: new Date(),
        maxDate: '+6m',
        monthNames: ['Enero', 'Febrero', 'Marzo',
          'Abril', 'Mayo', 'Junio',
          'Julio', 'Agosto', 'Septiembre',
          'Octubre', 'Noviembre', 'Diciembre'
        ],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
          'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'
        ],
        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
        beforeShowDay: nationalDays       
      })
    });    

    function limpiar() {
      $("#Procedimientos").empty();
      $("#Procedimientos").prepend('<option selected="true" value="0">Seleccionar procedimiento ambulatorio</option>');
      $("#Ayudas").empty();
      $("#Ayudas").prepend('<option selected="true" value="0">Seleccionar ayuda diagnóstica</option>');
      $("#opciones").empty();
      $("#opciones").prepend('<option selected="true" value="0">Seleccionar especialidad</option>');
      $("#Doctores").empty();
      $("#Doctores").prepend('<option selected="true" value="0">Seleccionar profesional de la salud</option>');
      $("#opciones2").empty();
      $("#opciones2").prepend('<option selected="true" value="0">Seleccionar especialidad</option>');
      $("#Doctores2").empty();
      $("#Doctores2").prepend('<option selected="true" value="0">Seleccionar profesional de la salud</option>');
      $("#opciones3").empty();
      $("#opciones3").prepend('<option selected="true" value="0">Seleccionar especialidad</option>');
      $("#Doctores3").empty();
      $("#Doctores3").prepend('<option selected="true" value="0">Seleccionar profesional de la salud</option>');
      $("#Doctores4").empty();
      $("#Doctores4").prepend('<option selected="true" value="0">Seleccionar profesional de la salud</option>');
      $("#Doctores5").empty();
      $("#Doctores5").prepend('<option selected="true" value="0">Seleccionar profesional de la salud</option>');
    }

    $(document).ready(function () {
      $('#Cita').on('change', function () {
        if (this.value == 'Consulta especializada') {
          consulta();
          $("#especialidad").show();
          $("#doctor").show();
          $("#ayudas").hide();
          $("#procedimiento").hide();
          $("#especialidad2").hide();
          $("#doctor2").hide();
          $("#especialidad3").hide();
          $("#doctor3").hide();
          $("#doctor4").hide();
          $("#doctor5").hide();
        } else if (this.value == 'Ayudas diagnósticas') {
          ayuda();
          $("#ayudas").show();
          $("#especialidad").hide();
          $("#doctor").hide();
          $("#procedimiento").hide();
          $("#especialidad2").hide();
          $("#doctor2").hide();
          $("#especialidad3").hide();
          $("#doctor3").hide();
          $("#doctor4").hide();
          $("#doctor5").hide();
        } else if (this.value == 'Procedimiento ambulatorio') {
          procedimiento();
          $("#procedimiento").show();
          $("#especialidad2").show();
          $("#doctor2").show();
          $("#especialidad").hide();
          $("#doctor").hide();
          $("#ayudas").hide();          
          $("#especialidad3").hide();
          $("#doctor3").hide();
          $("#doctor4").hide();
          $("#doctor5").hide();
        } else if (this.value == 'Consulta medicina general') {
          medicina();
          $("#doctor4").show();
          $("#procedimiento").hide();
          $("#especialidad").hide();
          $("#doctor").hide();
          $("#ayudas").hide();
          $("#especialidad2").hide();
          $("#doctor2").hide();
          $("#especialidad3").hide();
          $("#doctor3").hide();
          $("#doctor5").hide();
        } else if (this.value == 'Consulta odontología general') {
          medicinaOdont();
          $("#doctor5").show();
          $("#procedimiento").hide();
          $("#especialidad").hide();
          $("#doctor").hide();
          $("#ayudas").hide();
          $("#especialidad2").hide();
          $("#doctor2").hide();
          $("#especialidad3").hide();
          $("#doctor3").hide();
          $("#doctor4").hide();
        } else if (this.value == 'Consulta odontología especializada') {
          especialidadOdont();
          $("#especialidad3").show();
          $("#doctor3").show();
          $("#procedimiento").hide();
          $("#especialidad").hide();
          $("#doctor").hide();
          $("#ayudas").hide();
          $("#especialidad2").hide();
          $("#doctor2").hide();
          $("#doctor4").hide();
          $("#doctor5").hide();
        } else {
          $("#procedimiento").hide();
          $("#ayudas").hide();
          $("#especialidad").hide();
          $("#doctor").hide();
          $("#especialidad2").hide();
          $("#doctor2").hide();
          $("#especialidad3").hide();
          $("#doctor3").hide();
          $("#doctor4").hide();
          $("#doctor5").hide();
        }
      });
    });

    //+++++++++++ CARGA A LOS SELECT PARA CONSULTA MEDICINA ESPECIALIZADA +++++++++++++++++//
    async function consulta() {
            var con1 = document.getElementById('opciones').value;
            const consulta2 = {
                con: con1
            };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/agenda', options2);
            result4 = await response2.json();
            select = document.getElementById('opciones');
            for (var i = 0; i < result4.length; i++) {
                var opt = document.createElement('option');
                opt.value = result4[i].Especialidad;
                opt.innerHTML = result4[i].Especialidad;
                select.add(opt);
            }
        }        
        async function doctors(s1, s2) {
            var con1 = document.getElementById('opciones').value;
            const consulta2 = {
                con: con1
            };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/doctor', options2);
            result5 = await response2.json();
            var s1 = document.getElementById(s1);
            var s2 = document.getElementById(s2);
            s2.innerHTML = "";
            select = document.getElementById('Doctores');
            for (var i = 0; i < result5.length; i++) {
                if (s1.value == result5[i].Especialidad) {
                    var opt = document.createElement('option');
                    opt.value = result5[i].Nombres;
                    opt.innerHTML = result5[i].Nombres;
                    select.add(opt);
                }
            }
            $("#Doctores").prepend('<option selected="true" value="0">Seleccionar profesional de la salud</option>');
        }  
      
        //+++++++++++ LIMPIAR TABLAS PARA CONSULTA ESPECIALIZADA +++++++++++++++++//
        function vaciarU() {
            document.getElementById('TableUser').innerHTML = '';
        }
        function vacioU() {
            document.getElementById('TableUser').innerHTML = '';
        }
        function vaciar() {
            document.getElementById('myTable').innerHTML = '';
        }
        function vacio() {
            document.getElementById('myTable').innerHTML = '';
        }

        //+++++++++++ CARGA A LOS SELECT PARA PROCEDIMIENTOS AMBULATORIOS +++++++++++++++++//
        async function procedimiento() {
            var con1 = document.getElementById('Procedimientos').value;
            const consulta2 = {
                con: con1
            };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/procedimiento', options2);
            result4 = await response2.json();
            console.log(result4)
            select = document.getElementById('Procedimientos');
            for (var i = 0; i < result4.length; i++) {
                var opt = document.createElement('option');
                opt.value = result4[i].Procedimientos;
                opt.innerHTML = result4[i].Procedimientos;
                select.add(opt);
            }

        }
        async function especialidad2(s1, s2) {
            var con1 = document.getElementById('opciones2').value;
            const consulta2 = {
                con: con1
            };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/procedimiento', options2);
            result5 = await response2.json();
            var s1 = document.getElementById(s1);
            var s2 = document.getElementById(s2);
            s2.innerHTML = "";
            select = document.getElementById('opciones2');
            for (var i = 0; i < result5.length; i++) {
                if (s1.value == result5[i].Procedimientos) {
                    var opt = document.createElement('option');
                    opt.value = result5[i].Especialidad;
                    opt.innerHTML = result5[i].Especialidad;
                    select.add(opt);
                }
            }
            $("#opciones2").prepend('<option selected="true" value="0">Seleccionar especialidad</option>');
        }
        async function doctors2(s1, s2) {
            var con1 = document.getElementById('opciones2').value;
            const consulta2 = {
                con: con1
            };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/doctor_procedimiento', options2);
            result5 = await response2.json();
            var s1 = document.getElementById(s1);
            var s2 = document.getElementById(s2);
            s2.innerHTML = "";
            select = document.getElementById('Doctores2');
            for (var i = 0; i < result5.length; i++) {
                if (s1.value == result5[i].Especialidad) {
                    var opt = document.createElement('option');
                    opt.value = result5[i].Nombres;
                    opt.innerHTML = result5[i].Nombres;
                    select.add(opt);
                }
            }
            $("#Doctores2").prepend('<option selected="true" value="0">Seleccionar profesional de la salud</option>');
        }         
      
        //+++++++++++ CARGA A LOS SELECT PARA LAS AYUDAS DIAGNÓSTICAS +++++++++++++++++//
        async function ayuda() {
            var con1 = document.getElementById('Ayudas').value;
            const consulta2 = {
                con: con1
            };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/ayuda', options2);
            result4 = await response2.json();
            select = document.getElementById('Ayudas');
            for (var i = 0; i < result4.length; i++) {
                var opt = document.createElement('option');
                opt.value = result4[i].Ayudas;
                opt.innerHTML = result4[i].Ayudas;
                select.add(opt);
            }

        }
       
        //+++++++++++ CARGA A LOS SELECT PARA LA CONSULTA PARA ODONTOLOGÍA ESPECIALIZADA +++++++++++++++++//
        async function especialidadOdont() {
            var con1 = document.getElementById('opciones3').value;
            const consulta2 = {
                con: con1
            };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/odontologiaE', options2);
            result4 = await response2.json();
            select = document.getElementById('opciones3');
            for (var i = 0; i < result4.length; i++) {
                var opt = document.createElement('option');
                opt.value = result4[i].Especialidad;
                opt.innerHTML = result4[i].Especialidad;
                select.add(opt);
            }
        }
        async function doctors3(s1, s2) {
            var con1 = document.getElementById('opciones3').value;
            const consulta2 = {
                con: con1
            };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/odontologiaespecializada', options2);
            result5 = await response2.json();
            var s1 = document.getElementById(s1);
            var s2 = document.getElementById(s2);
            s2.innerHTML = "";
            select = document.getElementById('Doctores3');
            for (var i = 0; i < result5.length; i++) {
                if (s1.value == result5[i].Especialidad) {
                    var opt = document.createElement('option');
                    opt.value = result5[i].Doctor;
                    opt.innerHTML = result5[i].Doctor;
                    select.add(opt);
                }
            }
            $("#Doctores3").prepend('<option selected="true" value="0">Seleccionar profesional de la salud</option>');
        }  
       
        //+++++++++++ CARGA A LOS SELECT PARA LA CONSULTA PARA ODONTOLOGÍA ESPECIALIZADA +++++++++++++++++//
        async function medicina() {
            var con1 = document.getElementById('Doctores4').value;
            const consulta2 = {
                con: con1
            };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/medicina', options2);
            result4 = await response2.json();
            select = document.getElementById('Doctores4');
            for (var i = 0; i < result4.length; i++) {
                var opt = document.createElement('option');
                opt.value = result4[i].Doctor;
                opt.innerHTML = result4[i].Doctor;
                select.add(opt);
            }
        }
             
        //+++++++++++ CARGA A LOS SELECT PARA LA CONSULTA PARA ODONTOLOGÍA GENERAL+++++++++++++++++//
        async function medicinaOdont() {
            var con1 = document.getElementById('Doctores5').value;
            const consulta2 = {
                con: con1
            };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/medicinaOdont', options2);
            result4 = await response2.json();
            select = document.getElementById('Doctores5');
            for (var i = 0; i < result4.length; i++) {
                var opt = document.createElement('option');
                opt.value = result4[i].Doctor;
                opt.innerHTML = result4[i].Doctor;
                select.add(opt);
            }
        }
          

    //LUNES
    $("#H1").timepicker({
      timeFormat: 'HH:mm:ss',
      interval: 20,
      minTime: '07:00',
      maxTime: '16:00',
      startTime: '0',
      dynamic: false,
      dropdown: true,
      scrollbar: true,
      change: function (time) {
        var min = 30;
        var time = $(this).val();
        console.log(time)
        var picker = $("#H2");
        picker.timepicker('option', 'minTime', time);

      }
    });

    $("#H2").timepicker({
      timeFormat: 'HH:mm:ss',
      interval: 20,
      maxTime: '16:30',
      startTime: '0',
      dynamic: false,
      dropdown: true,
      scrollbar: true,
      change: function (time) {
        var min = 30;
        var time = $(this).val();
        var picker = $("#H3");
        picker.timepicker('option', 'minTime', time);
      }
    });

    $("#H3").timepicker({
      timeFormat: 'HH:mm:ss',
      interval: 20,
      maxTime: '16:30',
      startTime: '0',
      dynamic: false,
      dropdown: true,
      scrollbar: true,
      change: function (time) {
        var min = 30;
        var time = $(this).val();
        var picker = $("#H4");
        picker.timepicker('option', 'minTime', time);
      }
    });

    $("#H4").timepicker({
      timeFormat: 'HH:mm:ss',
      interval: 20,
      maxTime: '16:30',
      startTime: '0',
      dynamic: false,
      dropdown: true,
      scrollbar: true,
      change: function (time) {
        var min = 30;
        var time = $(this).val();
        var picker = $("#H5");
        picker.timepicker('option', 'minTime', time);
      }
    });

    $("#H5").timepicker({
      timeFormat: 'HH:mm:ss',
      interval: 20,
      maxTime: '16:30',
      startTime: '0',
      dynamic: false,
      dropdown: true,
      scrollbar: true,
      change: function (time) {
        var min = 30;
        var time = $(this).val();
        var picker = $("#H6");
        picker.timepicker('option', 'minTime', time);
      }
    });

    $("#H6").timepicker({
      timeFormat: 'HH:mm:ss',
      interval: 20,
      maxTime: '16:30',
      startTime: '0',
      dynamic: false,
      dropdown: true,
      scrollbar: true
    });

    $('#btnAgregar').click(function () {
      let data = recuperarDatosFormulario();
      console.log(data)
      if (!data) {
        console.log('error')
      } else {
        agregarRegistro(data);
      }
      // $("#modalEventos").modal('hide');
    })

    function recuperarDatosFormulario() {
      let data = {
        cita: $('#Cita').val(),
        procedimientos: $('#Procedimientos').val(),
        ayudas: $('#Ayudas').val(),
        opciones: $('#opciones').val(),
        Doctores: $('#Doctores').val(),
        opciones2: $('#opciones2').val(),
        Doctores2: $('#Doctores2').val(),
        opciones3: $('#opciones3').val(),
        Doctores3: $('#Doctores3').val(),
        Doctores4: $('#Doctores4').val(),
        Doctores5: $('#Doctores5').val(),
        type: $('#type').val(),
        fecha: $('#fecha').val(),
        H1: $('#H1').val(),
        H2: $('#H2').val(),
        H3: $('#H3').val(),
        H4: $('#H4').val(),
        H5: $('#H5').val(),
        H6: $('#H6').val()
      };
      console.log(typeof data.H1)
      if (data.cita == '0') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debes seleccionar el tipo de cita médica'
        });
        return false;
      } if (data.opciones == '0' & data.cita == 'Consulta especializada') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debes seleccionar una especialidad'
        });
        return false;
      } if (data.Doctores == '0' & data.cita == 'Consulta especializada') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debes seleccionar un profesional de la salud'
        });
        return false;
      } if (data.procedimientos == '0' & data.cita == 'Procedimiento ambulatorio') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debes seleccionar el tipo de procedimiento ambulatorio'
        });
        return false;
      } if (data.opciones2 == '0' & data.procedimientos !== '0') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debes seleccionar una especialidad'
        });
        return false;
      }  if (data.Doctores2 == '0' & data.procedimientos !== '0') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debes seleccionar un profesional de la salud'
        });
        return false;
      } if (data.opciones3 == '0' & data.cita == 'Consulta odontología especializada') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debes seleccionar una especialidad'
        });
        return false;
      } if (data.Doctores3 == '0' & data.cita == 'Consulta odontología especializada') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debes seleccionar un profesional de la salud'
        });
        return false;
      } if (data.ayudas == '0' & data.cita == 'Ayudas diagnósticas') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debes seleccionar la ayuda diagnóstica'
        });
        return false;
      } if (data.Doctores4 == '0' & data.cita == 'Consulta medicina general') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debes seleccionar un profesional de la salud'
        });
        return false;
      } if (data.Doctores5 == '0' & data.cita == 'Consulta odontología general') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debes seleccionar un profesional de la salud'
        });
        return false;
      } if (data.type == '0') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debe seleccionar el tipo de excepción'
        });
        return false;
      } if (data.fecha == "") {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debe seleccionar una fecha'
        });
        return false;
      } if (data.H1 == '') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debe seleccionar la hora de inicio'
        });
        return false;
      } if (data.H1 == '' & data.H2 !== '') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debe seleccionar la hora de inicio'
        });
        return false;
      } if (data.H1 !== '' & data.H2 == '') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debe seleccionar la hora de fin'
        });
        return false;
      } if (data.H1 >= data.H2 & data.H1 !== '' & data.H2 !== '') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'La hora de fin debe ser mayor a la de inicio'
        });
        return false;
      } if (data.H3 == '' & data.H4 !== '') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debe seleccionar la hora de inicio'
        });
        return false;
      } if (data.H4 == '' & data.H3 !== '') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debe seleccionar la hora de fin'
        });
        return false;
      } if (data.H3 >= data.H4 & data.H3 !== '' & data.H4 !== '') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'La hora de fin debe ser mayor a la de inicio'
        });
        return false;
      } if (data.H5 == '' & data.H6 !== '') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debe seleccionar la hora de inicio'
        });
        return false;
      } if (data.H6 == '' & data.H5 !== '') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Debe seleccionar la hora de fin'
        });
        return false;
      } if (data.H5 >= data.H6 & data.H5 !== '' & data.H6 !== '') {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'La hora de fin debe ser mayor a la de inicio'
        });
        return false;
      }
      return data;
    }

    function agregarRegistro(data) {
      $.ajax({
        type: 'POST',
        url: '/createException',
        data: data,
        success: function (msg) {
          Swal.fire(
            '¡Buen trabajo!',
            '¡Se han enviado correctamente los datos!',
            'success'
          ).then(function () {
            window.location = "/admin/adminException";
          });
        },
        error: function (error) {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Hubo un error'
          })
        }
      });
    }

    // $(document).ready(function () {
    //   $('#tabla').DataTable({
    //     scrollY: '50vh',
    //     scrollCollapse: true,
    //     paging: false,
    //     language: {
    //       processing: "Búsqueda en curso...",
    //       search: "Buscar:",
    //       lengthMenu: "Mostrar _MENU_ registros",
    //       info: "Página _PAGE_ de _PAGES_",
    //       infoEmpty: "No hay registros disponibles",
    //       infoFiltered: "(filtrado de _MAX_ total elementos)",
    //       zeroRecords: "No hay registros con este criterio de búsqueda",
    //       infoPostFix: "",
    //       loadingRecords: "Cargando...",
    //       emptyTable: "La tabla aún no contiene registros",
    //       paginate: {
    //         first: "Primero",
    //         previous: "Anterior",
    //         next: "Siguiente",
    //         last: "último"
    //       },
    //       aria: {
    //         sortAscending: ": Ordenar de forma ascendente",
    //         sortDescending: ": Ordenar de forma descendente"
    //       }
    //     }
    //   });

    // });

    var result = [];
    var result3 = [];
    async function consult() {
      var con1 = document.getElementById('Doctores').value;
      const consulta2 = { con: con1 };
      const options2 = {
        method: "POST",
        body: JSON.stringify(consulta2),
        headers: {
          "Content-Type": "application/json"
        }
      };
      const response2 = await fetch('/exceptions', options2);
      console.log(response2)
      result = await response2.json();
      console.log(result)

      //buildTable()
      vaciar();
      vacio();
      console.log(result)

      var table = document.getElementById('myTable');
      select = document.getElementById('Doctores');

      for (var i = 0; i < result.length; i++) {
        if (select.value == result[i].Doctor) {
          var row = `<tr>
                            <td>                              
                                ${result[i].fecha}                                
                            </td> 							
						              	<td>                              
                                ${result[i].hora_ini}                                
                            </td> 
                            <td>                              
                                ${result[i].Tipo}                                
                            </td>                                                         
					              </tr>`

          table.innerHTML += row

        }
      }

    }

    function buildTable() {
      vaciar();
      vacio();
      console.log(result)

      var table = document.getElementById('myTable');
      select = document.getElementById('Doctores');

      for (var i = 0; i < result.length; i++) {
        if (select.value == result[i].Doctor) {
          var row = `<tr>
                            <td>                              
                                ${result[i].fecha}                                
                            </td> 							
						              	<td>                              
                                ${result[i].hora_ini}                                
                            </td> 
                            <td>                              
                                ${result[i].Tipo}                                
                            </td>                                                         
					              </tr>`

          table.innerHTML += row

        }
      }
    }

    function vaciar() {
      document.getElementById('myTable').innerHTML = '';
    }
    function vacio() {
      document.getElementById('myTable').innerHTML = '';
    }

  </script>

  <script>

  </script>
  <!--===== MAIN JS =====-->
  <script src="/js/main.js"></script>
  <script src="/js/admin.js"></script>
</body>

</html>