<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- ===== BOOTSTRAP ===== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- ===== DATEPICKER ===== -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    

    <title>Usuario</title>
</head>

<body id="body-pd">   
    <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>

        <div class="header__img">
            <img src="/images/HUN.jpg" alt="">
        </div>
    </header>     

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="https://www.uninorte.edu.co/web/hospital" class="nav__logo">
                    <i class='bx bx-layer nav__logo-icon'></i>
                    <span class="nav__logo-name">
                        Hospital<br>
                        Universidad del<br>
                        Norte
                    </span>
                </a>

                <div class="nav__list">
                    <a href="/consultar" class="nav__link">
                        <i class='bx bx-folder nav__icon'></i>
                        <span class="nav__name">Consultar estado de solicitud</span>
                    </a>
                </div>
            </div>
            <a href="#" onclick="logOut()" class="nav__link">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Cerrar sesi贸n</span>
            </a>
        </nav>
    </div>  
    <div class="row" style="margin-top: 80px ;"> 
    <h2> Bienvenido <%=user.name%></h2>
    </div>  
    
    <!-- ===== FORMULARIO ===== -->
    <div class="row" style="margin-left: 250px;">                            
        <div class="col-md-8">
            <div class="card text-primary">
                <div class="card-body card-border-primary" style="width: auto; height: auto; margin: 30px;">   
                    <form method="POST" action="/verifyUser">                    
                        <div class="mb-4" style="margin: 50px;">
                            <label for="Name" class="form-label">Nombres del paciente</label>
                            <input type="text" class="form-control" id="Name" name="Name" 
                            value="<%= user.name %>">
                        </div>
                        <div class="mb-4" style="margin: 50px">
                            <label for="Lastname" class="form-label">Apellidos del paciente</label>
                            <input type="text" class="form-control" id="Lastname" name="Lastname"
                                value="<%= user.last_name %>">
                        </div>
                        <div class="mb-4" style="margin: 50px">
                            <label for="email" class="form-label">Correo electr贸nico del paciente</label>
                            <input type="text" class="form-control" id="email" name="email"
                                value="<%= user.email %>" >
                        </div>
                        <div class="mb-4" style="margin: 50px">
                            <label for="Cedula" class="form-label">N掳 de identificaci贸n del paciente</label>
                            <input type="number" class="form-control" id="Cedula" name="Cedula"
                                placeholder="Sin puntos ni comas">
                        </div>
                        <div class="mb-4" style="margin: 50px">
                            <select class="custom-select mt-2" style="margin-right: 10px;" id="opciones" name="opciones"
                                onchange="doctors('opciones','Doctores')" required="true">
                                <option value="0">Seleccione Especialidad</option>
                            </select>
                        </div>
                        <div class="mb-4" style="margin: 50px">
                            <select class="custom-select mt-2" style="margin-right: 35px;" id="Doctores" name="Doctores">
                                <option value="0">Seleccione M茅dico</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6">
                                <label for="fecha" class="form-label">Fecha de la cita</label>        
                                <input class="form-control" id="fecha" name="fecha" autocomplete="off" onkeypress="return false">     
                            </div>
                            <div class="col-6 col-sm-6" >
                                <label for="fecha" class="form-label">Seleccione el horario</label>
                            </div>
                        </div>           
                        <div class="w-100 d-none d-md-block"></div>
                        <div class="col-12 col-sm-12">
                            <button type="submit" class="btn btn-outline-primary" id="btnAgregar" 
                            style="margin-left: 42%; margin-top: 50px; margin-bottom: 20px;">ML Payasita </button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>        
    </div>
    <!-- ===== a ===== -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"
        integrity="sha512-g2PN+aYR0KupTVwea5Ppqw4bxWLLypWdd+h7E0ydT8zF+/Y2Qpk8Y1SnzVw6ZCVJPrgB/91s3VfhVhP7Y4+ucw=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- ===== DATEPICKER ===== -->


    <script>
        $( function() {
          $( "#fecha" ).datepicker({
              dateFormat: 'mm-dd-yy',
              minDate: new Date(),
              maxDate: '+6m'
          });
        } );
        </script>

    <script>
        document.onload = loadFunctions();
        function loadFunctions() {
            consulta();
        }

        //Se crea una funci贸n para que el nombre de los documentos cargados 
        //en los inputs de tipo file se muestren en la p谩gina, a trav茅s de si id
        $(document).ready(function () {
            $("#Orden").on('change', function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
            $("#Imagen").on('change', function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        });

        async function doctors(s1, s2) {
            var con1 = document.getElementById('opciones').value;
            const consulta2 = { con: con1 };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/doctor', options2);
            result5 = await response2.json();

            var s1 = document.getElementById(s1);
            var s2 = document.getElementById(s2);

            s2.innerHTML = "";

            select = document.getElementById('Doctores');
            for (var i = 0; i < result5.length; i++) {

                if (s1.value == result5[i].Especialidad) {
                    var opt = document.createElement('option');
                    opt.value = result5[i].Nombres;
                    opt.innerHTML = result5[i].Nombres;
                    select.add(opt);
                }
            }
        }


        var result4 = [];
        async function consulta() {
            var con1 = document.getElementById('opciones').value;
            const consulta2 = { con: con1 };
            const options2 = {
                method: "POST",
                body: JSON.stringify(consulta2),
                headers: {
                    "Content-Type": "application/json"
                }
            };
            const response2 = await fetch('/agenda', options2);
            result4 = await response2.json();

            select = document.getElementById('opciones');

            for (var i = 0; i < result4.length; i++) {
                var opt = document.createElement('option');
                opt.value = result4[i].Especialidad;
                opt.innerHTML = result4[i].Especialidad;
                select.add(opt);

            }
        }

    </script>
    <!--===== MAIN JS =====-->
    <script src="/js/main.js"></script>
</body>

</html>
